src/main/mule/pppp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1e234638-837b-4c0e-bd47-c3df0ddc30f6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ca513635-42c5-4dd9-9814-c04cfe292e7d" >
		<http:request-connection host="api.zippopotam.us" />
	</http:request-config>
	<flow name="ppppFlow" doc:id="822c92d1-6b34-4a29-a131-8e2e148e3746" >
		<http:listener doc:name="Listener" doc:id="34c68d6c-7cf5-4462-b96b-f064b6127c68" config-ref="HTTP_Listener_config" path="/{country}/{state}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="6ce9ad82-4656-4d4e-b051-2cee29bfc17e" config-ref="HTTP_Request_configuration" path="/{country}/{state}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	country : attributes.uriParams.country,
	city : attributes.uriParams.city,
	state : attributes.uriParams.state
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="b4b4d59e-3b07-43ab-ab07-fd5dba101bac" message="#['This is just to test the logger' ++ ' ' ++ typeOf(payload)]"/>
	</flow>
</mule>
